body{
    background-color: black;
}
/*homepagina start*/
#background{
    background-color: rgb(12, 12, 12);
    width: 700px;
    height: 400px;
    position: absolute;
    top: 20%;
    left: 26%;
    border-radius: 30px;
}
#logo{
    width: 150px;
    height: 100px;
}